name: Build & Test

on:
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Install Dependencies (Linux only)
        run: sudo apt-get update && sudo apt install -y libx11-dev libasound2-dev libjack-jackd2-dev

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose
